<link rel="stylesheet" href="/navbarStyle">
<nav class="navbar">
        <h1 class="logo">Mon Site</h1>
        <ul class="nav-links">
            <li><a href="#" onclick="getActivity('windmap');">Windmap</a></li>
            <li><a href="#">Fire</a></li>
            <li><a href="#">Fireworks</a></li>
            <li><a href="#">Tree</a></li>
        </ul>
</nav>
