<link rel="stylesheet" href="/styles/physic.css">
<div class = "physic" id = "physic">
    <script src="/indexJs/utils.js"></script>
    <script src="/base/Particle.js"></script>
    <script src="/physicRessource/ParticlePhysic.js"></script>
    <script src="/physicRessource/ParticlePhysicBounded.js"></script>
    <script src = "/physicRessource/CanvasManagerPhysic.js"></script>
    <script src = "/physicRessource/ParticleSystemPhysic.js"></script>
    <script src = "/physicRessource/SimulationPhysic.js"></script>
    <script src = "/physicRessource/mainPhysic.js"></script>
</div>