
    <div class = "map" id="map">
        <script src="/indexJs/utils.js"></script>
        <script src="/fireworkRessource/canvasManager.js"></script>
        <script src="/base/Passeur.js"></script>
        <script src="/base/Particle.js"></script>
        <script src="/physicRessource/ParticlePhysic.js"></script>
        <script src="/Base/ParticleTrail.js"></script>
        <script src="/fireworkRessource/ParticleFirework.js"></script>
        <script src="/fireworkRessource/ParticleSystem.js"></script>
        <script src="/fireworkRessource/simulation.js"></script>
        <script src="/fireworkRessource/main.js"></script>
    </div>
</html>