<div class ="windmap-container">
    <div class = "map" id="map">
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="windmap/ParticleSystem.js"></script>
        <script src="indexJs/utils.js"></script>
        <script src="windmap/canvasManager.js"></script>
        <script src="windmap/background.js"></script>
        <script src="windmap/vectorGrid.js"></script>
        <script src="indexJs/Particle.js"></script>
        <script src="windmap/ParticleWindMap.js"></script>
        <script src="windmap/simulation.js"></script>
        <script src="windmap/menu.js"></script>
        <script type="module" src="windmap/main.js" defer></script>
    </div>

    <div id="colorScale">
        <div id="colorScaleMarker" class="colorScaleMarker">
            <span id="colorScaleMarkerText"></span>
        </div>
    </div>

</div>
